# Dependencies
node_modules/
npm-debug.log*

# Build output
dist/
build/

# Env files
.env
.env.local
.env.*.local

# Logs
logs/
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# TS
*.tsbuildinfo

# Editor
.vscode/
.idea/

# Coverage
coverage/
